h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.main-table {
    width: 100%;
}

.side-bar-section {
    width: 28%;
    border-right-color: salmon;
    border-right-style: solid;
    border-right-width: 1px;
    position: fixed;
}

.criteria-section {
    width: 50%;
    float: right;
    margin-right: 15%;
}

.top-bar-div {
    background-image: linear-gradient(to right, darksalmon, salmon);
    margin: -10px;
    height: 80px;
    margin-bottom: 40px;
}

.top-bar-logo {
    width: 80px;
    padding-top: 10px;
    float: left;
    margin-left: 40px;
}

.top-bar-title {
    display: inline-block;
    margin: 0;
    padding: 20px;
    font-size: 40px;
    color: white;
    padding-left: 10px;
}

.checkbox-label {
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
}

.param-header {
    margin-right: 20px;
    float: left;
    font-size: 16px;
}

.param-header-outside-table {
    margin-right: 20px;
    float: left;
    font-size: 16px;
    margin-left: 3px;
}

.genre-dropdown-label {
    margin-right: 113px;
}

.artist-time-ranges-label {
    margin-top: 20px;
}

.btn {
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 12px;
    cursor: pointer;
    border-color: salmon;
    border-width: 1px;
    border-radius: 5px;
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
}

.default {
    color: black;
    margin-top: 20px;
    outline: none;
}

.default:hover {
    background: #EFEFEF;
}

.genre-playlist-type-btn {
    color: black;
    margin-top: 5px;
    outline: none;
}

.top-bar-btn {
    outline: none;
    background: none;
    color: white;
    font-size: 20px;
    border-width: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    float: right;
    display: inline-block;
    height: 100%;
    width: 200px;
}

.top-bar-btn:hover {
    background: lightsalmon;
    cursor: pointer;
}

.artist-time-range-first-btn {
    font-size: 12px;
    margin-left: -124px;
    margin-top: 10px;
}

.artist-time-range-btn {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
}

.playlist-name {
    margin-bottom: 40px;
    width: 208px;
    height: 40;
    text-align: center;
    border-style: solid;
    font-size: 12px;
    border-width: 1px;
    border-radius: 5px;
    border-color: salmon;
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}

.pre-login-msg-div {
    text-align: center;
    width: 100%;
}

.pre-login-msg {
    width: 40%;
    margin: 0 auto;
}

div.slider {
    width: 400px;
    display: inline-block;
    margin-top: 5px;
}

div.react-select__control:hover {
    border-color: salmon;
    cursor: pointer;
}

div.react-select__control--is-focused {
    border-color: salmon;
    cursor: pointer;
}

div.react-select__control--menu-is-open {
    border-color: salmon;
    cursor: pointer;
}

div.react-select__option:hover {
    background-color: salmon;
}

div.react-select__multi-value__remove:hover {
    background-color: salmon;
    color: black;
}
