h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.success-disclaimer {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 12px;
    margin: 16px;
}

.main-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'footer footer footer footer footer footer';
    grid-gap: 10px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 2fr 5fr auto;
}

.info-icon {
    margin-left: 5px;
}

.loader-div {
    text-align: center;
    margin-bottom: 16px;
}

.tooltip {
    max-width: 200px;
    text-align: center;
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
}

.info-icon-param-header {
    display: inline-block;
}

.side-bar-div {
    min-width: 300px;
    text-align: center;
    padding-top: 30px;
    margin-left: -10px;
    border-right: solid 1px darksalmon;
}

.criteria-div {
    grid-area: main;
    margin-left: 10%;
    padding-top: 30px;
}

.criteria-row {
    display: flex;
    align-items: center;
}

.top-bar-div {
    background-image: linear-gradient(to right, darksalmon, salmon);
    display: flex;
    margin: -10px;
    height: 80px;
    min-width: 770px;
    grid-area: header;
}

.top-bar-logo {
    width: 80px;
    padding-top: 5px;
    float: left;
    margin-left: 40px;
}

.top-bar-title {
    display: inline-block;
    margin: 0;
    padding: 20px;
    font-size: 40px;
    color: white;
    padding-left: 10px;
}

.checkbox-label {
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
}

.param-header {
    min-width: 156px;
    margin-right: 20px;
    font-size: 16px;
}

.adventurousness-param-header {
    min-width: 120px;
    margin-right: 0px;
    font-size: 16px;
}

.adventurousness-info-icon {
    margin-right: 32px;
}

.artist-time-ranges-param-header {
    min-width: 136px;
    margin-right: 0px;
    font-size: 16px;
}

.artist-time-ranges-info-icon {
    margin-right: 20px;
}

.artist-time-ranges-label {
    margin-top: 20px;
}

.btn {
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 12px;
    cursor: pointer;
    border-color: salmon;
    border-width: 1px;
    border-radius: 5px;
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
}

.default {
    color: black;
    margin-top: 20px;
    outline: none;
}

.default:hover {
    background: #EFEFEF;
    border-color: #EDAB94;
}

.account-menu {
    text-align: center;
}

.account-menu-btn {
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-width: 0px;
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}

.account-menu-btn:hover {
    background: #EFEFEF;
    border-color: #EDAB94;
}

.genre-playlist-type-btn {
    color: black;
    margin-top: 5px;
    outline: none;
}

.top-bar-btn {
    outline: none;
    background: none;
    color: white;
    font-size: 20px;
    border-width: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    display: inline-block;
    height: 100%;
    width: 140px;
}

.top-bar-btn:hover {
    background: lightsalmon;
    cursor: pointer;
}

.build-playlist-btn {
    margin-left: auto;
}

.login-btn {
    margin-left: auto;
}

.artist-time-range-first-btn {
    font-size: 12px;
    margin-top: 10px;
}

.artist-time-range-btn {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
}

.playlist-name {
    margin-bottom: 40px;
    width: 208px;
    height: 40;
    text-align: center;
    border-style: solid;
    font-size: 12px;
    border-width: 1px;
    border-radius: 5px;
    border-color: salmon;
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}

.playlist-name:hover {
    border-color: #EFB5A1;
}

.pre-login-msg-div {
    text-align: left;
    width: 60%;
    grid-area: main;
    margin-top: 30px;
}

.pre-login-msg {
    margin: 0 auto;
    font-weight: 100;
    font-size: 20px;
}

.footer {
    grid-area: footer;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-left: -10px;
    margin-top: -10px;
    padding-right: 20px;
    padding-bottom: 10px;
    background: linear-gradient(to right, darksalmon, salmon);
    color: white;
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    bottom: 0;
}

div.slider {
    min-width: 230px;
    max-width: 379px;
    display: inline-block;
}

div.react-select__control:hover {
    border-color: salmon;
    cursor: pointer;
}

div.react-select__control--is-focused {
    border-color: salmon;
    cursor: pointer;
}

div.react-select__control--menu-is-open {
    border-color: salmon;
    cursor: pointer;
}

div.react-select__option:hover {
    background-color: salmon;
}

div.react-select__multi-value__remove:hover {
    background-color: salmon;
    color: black;
}
