h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.checkbox-label {
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
}

.param-header {
    margin-right: 20px;
    float: left;
    font-size: 16px;
}

.param-header-outside-table {
    margin-right: 20px;
    float: left;
    font-size: 16px;
    margin-left: 3px;
}

.btn {
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 12px;
    cursor: pointer;
    border-color: salmon;
    border-width: 1px;
    border-radius: 5px;
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
}

.default {
    color: black;
    margin-top: 20px;
    outline: none;
}

.default:hover {
    background: #EFEFEF;
}

.playlist-name {
    margin-bottom: 40px;
    width: 208px;
    height: 40;
    text-align: center;
    border-style: solid;
    font-size: 12px;
    border-width: 1px;
    border-radius: 5px;
    border-color: salmon;
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
}

div.slider {
    width: 400px;
    display: inline-block;
    margin-top: 5px;
}

div.react-select__control:hover {
    border-color: salmon;
    cursor: pointer;
}

div.react-select__control--is-focused {
    border-color: salmon;
    cursor: pointer;
}

div.react-select__control--menu-is-open {
    border-color: salmon;
    cursor: pointer;
}

div.react-select__option:hover {
    background-color: salmon;
}

div.react-select__multi-value__remove:hover {
    background-color: salmon;
    color: black;
}
