CRON_TZ=Etc/UTC

0 0 1 * * alexschimpf PYTHONPATH=/home/alexschimpf/projects/tendersaucer /home/alexschimpf/.virtualenvs/tendersaucer/bin/python /home/alexschimpf/projects/tendersaucer/scripts/indexer.py --run-mode update > /home/alexschimpf/cron.log 2>&1;