<html>
    <head>
        <title>tendersaucer</title>
    </head>
    <body>
        <form id="genre_playlist_form" action="/web_create_genre_playlist">
            <select id="genre">
                {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select><br><br>
            <input name="max_popularity" type="number" value="100"><br><br>
            <label><input name="exclude_playlist_artists" type="checkbox" checked>Exclude playlist artists</label><br><br>
            <button id="genre_submit_btn">Generate genre playlist</button><br><br>
        </form>

        <form id="artist_playlist_form" action="/web_create_artist_playlist">
            <input name="max_depth" type="number" value="1"><br><br>
            <input name="max_popularity" type="number" value="80"><br><br>
            <label><input name="exclude_playlist_artists" type="checkbox" checked>Exclude playlist artists</label><br><br>
            <button id="artist_submit_btn">Generate artist playlist</button><br><br>
        </form>

        <a href="/spotify_authentication">Authenticate</a><br><br>

        <div id="results"></div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>

            $("#genre_playlist_form").submit(function(event) {
                var queryArgs = $(this).serialize();
                var selectedGenre = encodeURIComponent($("#genre").val());
                $.get("/web_create_genre_playlist?" + queryArgs + "&genre=" + selectedGenre, function(res) {
                    $("#results").html("Playlist exported!");
                }).fail(function() {
                    $("#results").html("Error...");
                });
                event.preventDefault();
            });

            $("#artist_playlist_form").submit(function(event) {
                var queryArgs = $(this).serialize();
                $.get("/web_create_artist_playlist?" + queryArgs, function(res) {
                    $("#results").html("Playlist exported!");
                }).fail(function() {
                    $("#results").html("Error...");
                });
                event.preventDefault();
            });

        </script>
    </body>
</html>
